body {
    font-family: 'Arial', sans-serif;
    background-color: #ffccf9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    position: relative;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f06292;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e91e63;
}

#fireworks {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#greetingImage {
    display: none;
    opacity: 0;
    transition: opacity 2s ease-in-out; /* Hiệu ứng fade-in trong 2 giây */
    width: 40%; /* Kích thước chiều rộng là 50% so với ban đầu */
    height: auto; /* Chiều cao tự động điều chỉnh theo tỉ lệ */
    border-radius: 15px; /* Các góc được bo tròn với bán kính 15px */
    margin: 0 auto; /* Căn giữa hình ảnh theo chiều ngang */
    display: block; /* Để có thể áp dụng margin auto */
}
